<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hirecraft.jugunoo.passenger"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <permission
        android:name="com.hirecraft.jugunoo.passenger.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hirecraft.jugunoo.passenger.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Network connectivity permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- External storage for caching. -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- push notification -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Access Google based web services -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- receive cloud message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- notify when the phone rebooted -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="com.hirecraft.jugunoo.passenger.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hirecraft.jugunoo.passenger.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".common.Global"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/jugunooTheme" >

        <!-- Debug mode -->


        <!--
            <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCAyA3edEKyRcC9qjayLW-fDhGXCDfnkXQ" />
        -->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDR7_4WTI94clrtmCEshG2zkNzVWcugWEY" />

        <!-- Release mode -->


        <!--
            <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBOtZx1y_v60cHMe5aPF2xJSRDKsT7Guh0" />
        -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible|stateHidden" >
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".AboutJugunoo"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:name="com.hirecraft.jugunoo.passenger.SignupTabActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.hirecraft.jugunoo.passenger.OtpVarificationActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible|stateHidden" >
        </activity>
        <activity
            android:name="com.hirecraft.jugunoo.passenger.CompanyListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible|stateHidden" >
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible|stateVisible" >
        </activity>
        <activity
            android:name=".LandingPage"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".services.PassengerTripLog"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:name="com.hirecraft.jugunoo.passenger.triplog.TripLogActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/TabTheme"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".fragments.PassengerProfileActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:name=".services.PassengerTripDirection"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".JugunooPlaceList"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".BookingFormActivity"
            android:label="@string/app_name"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".UpdateBookingActivity"
            android:label="@string/app_name"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".services.PassengerFeedback"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".services.SearchCabs"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".fragments.AddFleetUserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".fragments.AddFleetGroupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <service android:name=".gcm.GCMNotificationHandler" >
        </service>
        <service
            android:name=".locationmanager.JugunooGPSservice"
            android:enabled="true" >
        </service>

        <activity
            android:name=".ProfileAdminActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileManagerUserActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.ChangePasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Dialog" />

        <receiver
            android:name=".gcm.GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.hirecraft.jugunoo.passenger.gcm" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.hirecraft.NotificationsManager" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".BookingFormNewActivity"
            android:label="@string/title_activity_booking_form_new" >
        </activity>
        <activity
            android:name=".UpdateBookingNewActivity"
            android:label="@string/title_activity_update_booking_new" >
        </activity>
        <activity
            android:name="com.hirecraft.jugunoo.passenger.fragments.UsersFragment_New"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".fragments.AddFleetGroupActivity_new"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.hirecraft.jugunoo.passenger.invoice.InvoiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hirecraft.jugunoo.passenger.ProfileManagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CompanyListActivity_new"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible|stateHidden" >
        </activity>
        <activity
            android:name=".fragments.AddFleetUserActivity_new"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".AddCorporateInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.hirecraft.jugunoo.passenger.PendingRequest"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:name="com.hirecraft.jugunoo.passenger.FavoriteDriversListActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:noHistory="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
    </application>

</manifest>